{% extends 'base.html' %}
{% block title %}Covid API{% endblock title %}

{% block body %}
    <h3>Corona cases in Nepal : </h3>
    
    <!--Display All data-->
    {% comment %} {% for i,j in req.items %}
        {{ i }} : {{j}}<br>
    {% endfor %} {% endcomment %}
    
    <!--DIsplay Specific data-->
    <p>
        <strong>Positive : </strong> {{positive}} <br>
        <strong>Negative : </strong> {{negative}} <br>
        <strong>Total : </strong> {{total}} <br>
        <strong>Isolated : </strong> {{isolated}} <br>
        <strong>Quarantined : </strong> {{quarantined}} <br>
        <strong>RDT : </strong> {{rdt}} <br>
        <strong>Pending : </strong> {{pending}} <br>
        <strong>Recovered : </strong> {{recovered}} <br>
        <strong>Dead : </strong> {{dead}} <br>
        <strong>Updated : </strong> {{updated}}
    </p>

{% endblock body %}